.homeParent {
  display: flex;
  justify-content: center;
}

.homeContainer {
  display: flex;
  width: 100%;
  max-width: 990px;
  justify-content: space-between;
  /* gap: 50px; */
  /* overflow: hidden; */
  color: var(--white-text);
  gap: 2vw;
}
.homeWrapper {
  border: 2px solid rgb(47, 51, 54);
  /* width: 600px; */
  padding: 10px 16px;
  flex: 2;
  position: relative;
  border-bottom: none;
  padding-bottom: 0;
}
.followContainer {
  /* border: 1px solid rgb(47, 51, 54); */
  /* width: 350px; */
  flex: 1.2;
  padding-top: 10px;
}
.followWrapper {
  position: fixed;
}

.suggestions {
  background-color: rgb(22, 24, 28);
  border-radius: 16px;
  padding: 16px;
}
.suggestionTitle {
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 24px;
  display: block;
  margin-bottom: 8px;
}
.user {
  display: flex;
  gap: 20px;
  padding: 16px 0;
}
.userImage img {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
}
.userFullName {
  font-weight: 600;
  font-size: 0.9rem;
}
.userFollowInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.userMainname {
  font-size: 0.8rem;
  color: rgb(113, 118, 123);
}
.userFollow {
  margin-left: auto;
}
.userFollow button {
  width: 80px;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--white-text);
  color: rgb(15, 20, 25);
  border-radius: 9999px;
  height: 35px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 1025px) and (max-width: 1430px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    max-width: 900px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .homeContainer {
    max-width: 700px;
  }
}
