.profileWrapper {
  color: var(--white-text);
}
.pageTitle {
  font-size: 23px;
  font-weight: 700;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  padding: 0px 16px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.postListContainer {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profileContainer {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.userImage img {
  width: 90px;
  height: 90px;
  border-radius: 9999px;
}
.userFullName {
  font-weight: 600;
  font-size: 1.2rem;
}
.userFollowInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.userMainname {
  font-size: 1rem;
  color: rgb(113, 118, 123);
}
.editParent {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
.editProfile {
  width: 120px;
  background-color: transparent;
  color: var(--white-text);
  border-radius: 9999px;
  height: 35px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid rgb(83, 100, 113);
  margin: 5px 0px 5px 0px;
}
.followInfo {
  font-size: 0.9rem;
  display: flex;
  gap: 20px;
}
.accountInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  padding: 0 16px;
  padding-bottom: 20px;
}
.otherInfo {
  display: flex;
  font-size: 0.9rem;
  color: rgb(113, 118, 123);
  margin-bottom: 8px;
}
.userlocation {
  display: flex;
  align-items: center;
}
.followInfo span {
  display: inline-block;
  color: rgb(113, 118, 123);
}
.followInfo .number {
  font-weight: 700;
  color: var(--white-text);
  margin-right: 4px;
}
.location {
  margin-left: -8px;
}
.followInfo div {
  cursor: pointer;
}

.following span:hover,
.followers span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: rgb(113, 118, 123);
  font-weight: 700;
}
.bio a {
  text-decoration: underline;
  color: rgb(29, 155, 240);
}
.hidden {
  display: none;
}

.camera {
  position: relative;
  cursor: pointer;
}

.cameraIcon {
  color: var(--white-text);
  position: absolute;
  top: -30px;
  left: 60px;
  cursor: pointer;
}
.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 700;
}
.bookmarkLogo {
  margin-top: 20px;
  opacity: 0.5;
}
