.homeTopContainer {
  /* position: fixed; */
  z-index: 2;
  backface-visibility: hidden;
}
.pageTitle {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
}
.filterContainer {
  display: flex;
  font-weight: 600;
  font-size: 17px;
  align-items: center;
  height: 53px;
  position: relative;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  margin-bottom: 20px;
}
.active::after {
  display: block;
  width: 56px;
  height: 4px;
  border-radius: 9999px;
  background-color: rgb(29, 155, 240);
  content: "";
  position: absolute;
  bottom: 0px;
}
.trending {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest {
  flex: 1;
  text-align: center;
}
.postContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  padding: 0px 16px;
  padding-bottom: 10px;
}
.postWrapper {
  display: flex;
  width: 100%;
  gap: 0.4rem;
}
.profileAvatar {
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
  margin-top: 10px;
}
.profileAvatar img {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
}
.postInput {
  width: 100%;
}
.postContainer textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(47, 51, 54);
  height: 130px;
  margin: 0;
  letter-spacing: 0px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-text);
  background-color: transparent;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  resize: none;
  font-family: "Segoe UI Regular";
  margin-bottom: 10px;
}
.uploadOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photoContainer {
  display: flex;
  gap: 12px;
}
.addPhoto,
.emoji {
  font-size: 1.7rem;
  color: rgb(29, 155, 240);
}
.post {
  width: 80px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(29, 155, 240);
  color: var(--white-text);
  border-radius: 9999px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
