.sideBarParent {
  padding: 20px 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0.5;
  /* border: 2px solid red; */
}
.navBar {
  color: var(--white-text);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  /* background-color: rgb(42, 21, 21); */
}
.xicon {
  fill: var(--white-text);
  height: 2rem;
  padding-left: 15px;
  margin-bottom: 20px;
  align-self: flex-start;
}
.itemName {
  font-size: 20px;
  line-height: 22px;
}
.navBarItem {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
}
.navBarItem:hover {
  cursor: pointer;
}

.home,
.explore,
.heart,
.bookmark {
  font-size: 2.1rem;
}
.post {
  width: 220px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(29, 155, 240);
  color: var(--white-text);
  min-width: 52px;
  min-width: 52px;
  border-radius: 9999px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
  cursor: pointer;
}
.user {
  display: flex;
  gap: 10px;
  padding: 16px 15px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 30px;
}
.userImage img {
  width: 35px;
  height: 35px;
  border-radius: 9999px;
}
.userFullName {
  font-weight: 600;
  font-size: 0.9rem;
}
.userFollowInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.userMainname {
  font-size: 0.9rem;
  color: rgb(113, 118, 123);
}
.userMore {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-left: 5px;
}

@media only screen and (min-width: 1025px) and (max-width: 1430px) {
  /* .itemName {
    display: none;
  }
  .post {
    display: none;
  } */
  /* .sideBarParent {
    flex: 1;
  } */
  .post {
    width: 180px;
  }
}
