.exploreWrapper {
  color: var(--white-text);
}
.pageTitle {
  font-size: 23px;
  font-weight: 700;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  padding: 0px 16px;
  padding-bottom: 25px;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 700;
}
.bookmarkLogo {
  margin-top: 20px;
  opacity: 0.5;
}
