.postItem {
  display: flex;
  padding: 14px 16px;
  gap: 20px;
  border-bottom: 1px solid rgb(47, 51, 54);
  margin: 0 -16px;
  width: 100%;
}

.postProfile {
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
}
.postProfile img {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.userInfo {
  display: flex;
  gap: 8px;
  font-size: 1rem;
  align-items: center;
  position: relative;
}
.profileName {
  font-weight: 600;
  font-size: 0.9rem;
}
.username,
.date {
  color: rgb(113, 118, 123);
  font-size: 0.9rem;
}
.postContent {
  margin-bottom: 2px;
}
.postOptions {
  display: flex;
  gap: 5rem;
}
.fav,
.book,
.comment,
.share {
  color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}

.share {
  color: #ffffff;
}
.favfill {
  color: rgb(249, 24, 128);
}
.bookFill {
  color: rgb(0, 186, 124);
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}

.userMore {
  margin-left: auto;
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 10px;
  background-color: rgb(22, 24, 28);
  z-index: 10;
  padding: 0px 4px;
}
.dropdownItem {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.9rem;
}
.dropdown :first-child {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.editContainer {
  padding: 30px 10px 10px 10px;
}

@media only screen and (max-width: 1024px) {
  .postItem {
    display: flex;
    padding: 14px 13px;
    gap: 10px;
    border-bottom: 1px solid rgb(47, 51, 54);
    margin: 0 -16px;
  }

  .postInfo {
    display: flex;
    flex-direction: column;
    gap: initial;
    width: 100%;
  }
  .userInfo {
    display: flex;
    gap: 4px;
    font-size: 0.9rem;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
  }
  .username,
  .date,
  .profileName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profileName {
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 70px;
  }
  .username,
  .date {
    color: rgb(113, 118, 123);
    font-size: 0.9rem;
    max-width: 90px;
  }
  .postContent {
    margin-bottom: 15px;
  }
  .postOptions {
    display: flex;
    gap: initial;
    justify-content: space-between;
  }
  .fav,
  .book,
  .comment,
  .share {
    color: transparent;
    font-size: 1.2rem !important;
    cursor: pointer;
  }

  .disable {
    cursor: not-allowed;
    pointer-events: none;
  }

  .userMore {
    margin-left: auto;
    font-size: 1.3rem;
    letter-spacing: 2px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 10px;
    background-color: rgb(22, 24, 28);
    z-index: 10;
    padding: 0px 4px;
  }
  .dropdownItem {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .dropdown :first-child {
    border-bottom: 1px solid rgb(47, 51, 54);
  }

  .editContainer {
    padding: 30px 10px 10px 10px;
  }
  .favfill {
    color: rgb(249, 24, 128);
  }
  .bookFill {
    color: rgb(0, 186, 124);
  }
}
